@media (min-width: 640px) {
  .sm\:w-10 {
    width: 2.5rem;
  }

  .sm\:w-screen {
    width: 100vw;
  }

  .sm\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}
.main-sec-one {
  background-color:hsl(220, 16%, 96%);
}
body {
  background-color: hsl(0, 0%, 98%);
}

footer {
  background-color: hsl(233, 26%, 24%);
}
button {
  background-color: hsl(136, 65%, 51%);
  color: white;
}



.logo-svg {
  margin-top: -70px;
}

.a:hover {
  border-bottom: 5px solid #32e762;
  
}
